{% extends 'blog/base.html' %}

{% block titletag %}
  <title>Serial Experiments Kyle | archive</title>
{% endblock %}

{% block content %}
    {% for post in posts %}
        <div class="post-side-bar">
            <p class="date">created: {{ post.created_date|date:'d-m-Y' }}</p>
            <div class="post_icon">
                <i class="material-icons-outlined">{{ post.outlined_material_icon_name }}</i>
            </div>
        </div>
        <div class="post">
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>
                {% with postbody=post.formatted_markdown|safe %}
                    {{postbody|truncatechars_html:200}}
                {% endwith %}
            </p>
        </div>
    {% endfor %}
{% endblock %}
