{% extends 'blog/base.html' %}

{% block metatags %}
    <meta property="og:description" content="Personlig blogg arkiv" />
    <meta property="og:url"           content="https://www.serialexperimentskyle.com/archive/" />
    <meta property="og:title"         content="Serial Experiments Kyle | archive" />
    <meta property="og:type"          content="website" />
{% endblock %}

{% block titletag %}
  <title>Serial Experiments Kyle | archive</title>
{% endblock %}

{% block content %}
    {% for post in posts %}
        <div class="post-side-bar">
            <div class="date">
                <span>{{ post.published_date }}</span>
            </div>
            <div class="post_icon">
                <i class="material-icons-outlined">{{ post.outlined_material_icon_name }}</i>
            </div>
        </div>
        <div class="post">
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>
                {% with postbody=post.formatted_markdown|safe %}
                    {{postbody|truncatechars_html:200}}
                {% endwith %}
            </p>
            <div class="post-comments">
                <a href="{% url 'post_detail' pk=post.pk %}">
                    Comments: {{ post.approved_comments.count }}
                    {% if user.is_authenticated %}
                      {% if post.author == user or user.is_staff %}
                        {% if post.unapproved_comments.count > 0 %}
                            <span class="unapproved_comments"> ({{ post.unapproved_comments.count }})<span>
                        {% endif %}
                      {% endif %}
                    {% endif %}
                </a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
