{% extends 'blog/base.html' %}

{% block metatags %}
    <meta property="og:description" content="Personlig blogg arkiv" />
    <meta property="og:url"           content="https://www.serialexperimentskyle.com/archive/{{ curr_page }}/" />
    <meta property="og:type"          content="website" />
    
  {% if curr_page < 10 %}
      <meta property="og:title"         content="Serial Experiments Kyle | archive:0{{ curr_page }}/" />
  {% endif %}
  {% if curr_page > 9 %}
      <meta property="og:title"         content="Serial Experiments Kyle | archive:{{ curr_page }}/" />
  {% endif %}
{% endblock %}

{% block titletag %}
  {% if curr_page < 10 %}
      <title>Serial Experiments Kyle | archive:0{{ curr_page }}</title>
  {% endif %}
  {% if curr_page > 9 %}
      <title>Serial Experiments Kyle | archive:{{ curr_page }}</title>
  {% endif %}
{% endblock %}

{% block content %}
    <h3> archive page {{ curr_page }} </h3>
    <br>
    
    {% for post in posts %}
        <div class="post-side-bar">
            <div class="date">
                <span>{{ post.published_date }}</span>
            </div>
            <div class="post_icon">
                <i class="material-icons-outlined">{{ post.outlined_material_icon_name }}</i>
            </div>
        </div>
        <div class="post">
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>
                {% with postbody=post.formatted_markdown|safe %}
                    {{postbody|truncatechars_html:200}}
                {% endwith %}
            </p>
            <div class="post-comments">
                <a href="{% url 'post_detail' pk=post.pk %}"><span class="glyphicon glyphicon-comment" title="comment"></span>
                    {{ post.approved_comments.count }}
                    {% if user.is_authenticated %}
                      {% if post.author == user or user.is_staff %}
                        {% if post.unapproved_comments.count > 0 %}
                            <span class="unapproved_comments"> ({{ post.unapproved_comments.count }})<span>
                        {% endif %}
                      {% endif %}
                    {% endif %}
                </a>
            </div>
        </div>
    {% endfor %}
    <div class="archive_page_nums">
            {% if curr_page > 1 %}
                <div class="archive_prev_page">
                    <a href="{% url 'archive_list' page=curr_page|add:"-1" %}" class="top-menu">
                        <span class="glyphicon glyphicon-arrow-left" title="previous"></span>
                    </a>
                </div>
            {% endif %}
            
            {% if curr_page|add:"1" <= num_archive_pages %}
                <div class="archive_next_page">
                    <a href="{% url 'archive_list' page=curr_page|add:"1" %}" class="top-menu">
                        <span class="glyphicon glyphicon-arrow-right" title="next"></span>
                    </a>
                </div>
            {% endif %}
    </div>

{% endblock %}
