<!DOCTYPE html>
{% load static %}

<html>
    <head>
        {% block metatags %}
        {% endblock %}
               
        {% block titletag %}
        {% endblock %}
        
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    </head>
    <body>
        <div class="app">
            <div class="page-header">
            
                <div class="title-wrapper">
                    <a href="/">
                        <h1 class="glitch" data-text="serial experiments">serial experiments</h1>
                        <p class="sub">KYLE</p>
                    </a>
                </div>
                
                <div class="menu-wrapper">
                {% if user.is_authenticated %}
                    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                    <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
                    <p class="top-menu">Hello, {{ user.username }}! <small>(<a href="{% url 'logout' %}">logout</a>)</small></p>
                {% else %}
                    <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
                {% endif %}
                </div>
            </div>
            
            <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    </body>
</html>
