<!DOCTYPE html>
{% load static %}

<html>
    <head>
        {% block metatags %}
        {% endblock %}
               
        {% block titletag %}
        {% endblock %}
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
         
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
		<link rel="stylesheet" href="{% static 'css/monokai.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Material+Icons+Outlined">
        <script src="https://code.jquery.com/jquery-3.4.1.js"
			  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
			  crossorigin="anonymous"></script>
        <script src="{% static 'js/mgGlitch.min.js' %}"></script>
    </head>
    <body>
        <div class="app">
            <div class="page-header">
            
                <div class="title-wrapper">
                    <a href="/">
                        <div><h1 class="glitch" data-text="serial experiments">serial experiments</h1></div>
                        <div><p class="sub"><b>kyle</b></p></div>
                    </a>
                </div>
                
                <div class="menu-wrapper">
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="top-menu"><span class="glyphicon glyphicon-log-out" title="logout"></span></a>
                    
                    {% if user.is_staff %}
                    <a href="{% url 'admin:index' %}" class="top-menu"><span class="glyphicon glyphicon-cog" title="admin"></span></a>
                    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus" title="new post"></span></a>
                    <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit" title="drafts"></span></a>
                    {% endif %}
                    
                    <a href="{% url 'archive_list' %}" class="top-menu"><span class="glyphicon glyphicon-list" title="archive"></span></a>
                    <a href="{% url 'search' %}" class="top-menu"><span class="glyphicon glyphicon-search" title="search"></span></a>
                    <a href="{% url 'subscribe' %}" class="top-menu"><span class="glyphicon glyphicon-send" title="subscribe"></span></a>
                    <p class="top-menu">Hello, {{ user.username }}! </p>
                {% else %}
                    <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-log-in" title="login"></span></a>
                    <a href="{% url 'archive_list' %}" class="top-menu"><span class="glyphicon glyphicon-list" title="archive"></span></a>
                    <a href="{% url 'search' %}" class="top-menu"><span class="glyphicon glyphicon-search" title="search"></span></a>
                    <a href="{% url 'subscribe' %}" class="top-menu"><span class="glyphicon glyphicon-send" title="subscribe"></span></a>
                {% endif %}
                </div>
            </div>
            
            <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                    </div>
                </div>
            </div>
            
        </div>
    
        <script type="text/javascript">
            $(function() {
              $(".glitch-img").mgGlitch({
                  destroy: false,
                  glitch: true,
                  scale: false,
                  blend: true,
                  blendModeType: 'hue',
                  glitch1TimeMin: 10000,
                  glitch1TimeMax: 500,
                  glitch2TimeMin: 100,
                  glitch2TimeMax: 100,
              });
            });
        </script>
    </body>
</html>
