{% extends 'blog/base.html' %}

{% block titletag %}
  <title>Serial Experiments Kyle</title>
{% endblock %}

{% block content %}
    {% for post in posts %}
        <div class="post-side-bar">
            <div class="date">
                <span>{{ post.published_date }}</span>
            </div>
            <div class="post_icon">
                <i class="material-icons-outlined">{{ post.outlined_material_icon_name }}</i>
            </div>
        </div>
        <div class="post">
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.formatted_markdown|safe }}</p>
            <div class="post-comments">
                <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
