{% extends 'blog/base.html' %}

{% block metatags %}
  <meta property="og:url"           content="https://www.serialexperimentskyle.com/post/{{ post.pk }}/" />
  <meta property="og:type"          content="article" />
  
  {% if post.pk < 10 %}
      <meta property="og:title"         content="Serial Experiments Kyle | Layer:0{{ post.pk }} - {{ post.title }}" />
  {% endif %}
  {% if post.pk > 9 %}
      <meta property="og:title"         content="Serial Experiments Kyle | Layer:{{ post.pk }} - {{ post.title }}" />
  {% endif %}
{% endblock %}

{% block titletag %}
  {% if post.pk < 10 %}
      <title>Serial Experiments Kyle | Layer:0{{ post.pk }} - {{ post.title }}</title>
  {% endif %}
  {% if post.pk > 9 %}
      <title>Serial Experiments Kyle | Layer:{{ post.pk }} - {{ post.title }}</title>
  {% endif %}
{% endblock %}

{% block content %}

    <div class="post-side-bar">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
            <div class="post_icon">
                <i class="material-icons-outlined">{{ post.outlined_material_icon_name }}</i>
            </div>
        {% else %}
            <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
        {% endif %}
        
        {% if user.is_authenticated %}
            {% if post.author == user or user.is_staff %}
                <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                <span class="confirm"><a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a></span>
            {% endif %}
        {% endif %}
    </div>
    <div class="post">        
        <h1>{{ post.title }}</h1>
        <p>{{ post.formatted_markdown|safe }}</p>
        
        <!-- Load Facebook SDK for JavaScript -->
          <div id="fb-root"></div>
          <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));</script>
        
          <!-- Your share button code -->
          <div class="fb-share-button"
            data-href="https://www.serialexperimentskyle.com/post/{{ post.pk }}" 
            data-layout="button">
          </div>
          
        <!-- Copy link button -->
        <div class="copy-link-button">
            <i class="material-icons-outlined" id="copy-link-button">link</i>
        </div>
        <script>        
            function flash_copy() {
              var a;
              a = document.getElementById("copy-link-button");
              original_color = a.style.color;
              a.style.color = "ghostwhite";
              a.style.animation = "bounce 0.25s"; 
              setTimeout(function () {
                  a.style.color = original_color
                  a.style.animation = "";
                }, 250);
            }
             
            function copy_link() {
                var textArea = document.createElement("textarea");
                textArea.value = window.location.href;
                document.body.appendChild(textArea);
                textArea.select();
                document.execCommand("Copy");
                textArea.remove();
                flash_copy();
            }
        </script>
        <script>(function(d) {
               d.getElementById("copy-link-button").addEventListener("click", copy_link);
           }(document));
        </script>
    </div>
    
    <hr>
    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
    {% for comment in post.comments.all %}
        {% if user.is_authenticated and post.author == user or user.is_staff or comment.approved_comment %}
        <div class="comment">
            <div class="date">
                {{ comment.created_date }}
                {% if not comment.approved_comment and user.is_authenticated %}
                    {% if post.author == user or user.is_staff %}
                        <span class="confirm"><a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="confirm"><span class="glyphicon glyphicon-remove"></span></span></a></span>
                        <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                    {% endif %}
                {% endif %}
            </div>
            <strong>{{ comment.author }}</strong>
            <p>{{ comment.formatted_markdown|safe }}</p>
        </div>
        {% endif %}
    {% empty %}
        <p>No comments</p>
    {% endfor %}
    
    <script type="text/javascript">
        var elems = document.getElementsByClassName('confirm');
        var confirmIt = function (e) {
            if (!confirm('Are you sure?')) e.preventDefault();
        };
        for (var i = 0, l = elems.length; i < l; i++) {
            elems[i].addEventListener('click', confirmIt, false);
        }
    </script>

{% endblock %}