{% extends 'blog/base.html' %}

{% block metatags %}
    <meta property="og:description" content="Personlig blogg" />
    <meta property="og:url"         content="https://www.serialexperimentskyle.com/" />
    <meta property="og:title"       content="Serial Experiments Kyle | main" />
    <meta property="og:type"          content="website" />
{% endblock %}

{% block titletag %}
  <title>Serial Experiments Kyle</title>
{% endblock %}

{% block content %}
    {% for post in posts %}
        <div class="post-side-bar">
            <div class="date">
                <span>{{ post.published_date }}</span>
            </div>
            <div class="post_icon">
                <i class="material-icons-outlined">{{ post.outlined_material_icon_name }}</i>
            </div>
        </div>
        <div class="post">
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.formatted_markdown|safe }}</p>
            <div class="post-comments">
                <a href="{% url 'post_detail' pk=post.pk %}">
                    Comments: {{ post.approved_comments.count }}
                    {% if user.is_authenticated %}
                      {% if post.author == user or user.is_staff %}
                        {% if post.unapproved_comments.count > 0 %}
                            <span class="unapproved_comments"> ({{ post.unapproved_comments.count }})<span>
                        {% endif %}
                      {% endif %}
                    {% endif %}
                </a>
            </div>
        </div>
    {% endfor %}
    <p>Only the most recent posts are visible here. Visit the <a href="{% url 'archive_list' page=1 %}">archive</a> page to see more.</p>
{% endblock %}
