{% extends 'blog/base.html' %}

{% block metatags %}
  <meta property="og:url"           content="https://www.serialexperimentskyle.com/post/{{ post.pk }}/" />
  <meta property="og:type"          content="website" />
  
  {% if post.pk < 10 %}
      <meta property="og:title"         content="Serial Experiments Kyle | Layer:0{{ post.pk }} - {{ post.title }}" />
  {% endif %}
  {% if post.pk > 9 %}
      <meta property="og:title"         content="Serial Experiments Kyle | Layer:{{ post.pk }} - {{ post.title }}" />
  {% endif %}
{% endblock %}

{% block titletag %}
  {% if post.pk < 10 %}
      <title>Serial Experiments Kyle | Layer:0{{ post.pk }} - {{ post.title }}</title>
  {% endif %}
  {% if post.pk > 9 %}
      <title>Serial Experiments Kyle | Layer:{{ post.pk }} - {{ post.title }}</title>
  {% endif %}
{% endblock %}

{% block content %}

    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% else %}
            <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
        {% endif %}
        
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
        
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
        
        <!-- Load Facebook SDK for JavaScript -->
          <div id="fb-root"></div>
          <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));</script>
        
          <!-- Your share button code -->
          <div class="fb-share-button" 
            data-href="https://www.serialexperimentskyle.com/post/{{ post.pk }}" 
            data-layout="button">
          </div>
        
    </div>
    
    <hr>
    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
    {% for comment in post.comments.all %}
        {% if user.is_authenticated or comment.approved_comment %}
        <div class="comment">
            <div class="date">
                {{ comment.created_date }}
                {% if not comment.approved_comment %}
                    <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                    <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                {% endif %}
            </div>
            <strong>{{ comment.author }}</strong>
            <p>{{ comment.text|linebreaks }}</p>
        </div>
        {% endif %}
    {% empty %}
        <p>No comments</p>
    {% endfor %}

{% endblock %}