.app {
    background: rgb(10,10,10);
    height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
    background:linear-gradient(rgba(10,10,10,.6),rgba(0,0,0,.9)), repeating-linear-gradient(0, transparent, transparent 2px, black 3px, black 3px), url("/static/images/glitch_bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow-y: scroll;
}

.page-header {
    background-color: black;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    overflow: auto;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 5%;
    margin-right: 5%:
    width: 100%;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(100,220,220);
}

form p {
    color: dimgray;
}

p {
    color: ghostwhite;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

th {
    color: ghostwhite;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: rgb(100,220,220);
}

.post a {
    color: gray;
}

.post h1 {
    background: -webkit-linear-gradient(dimgray, rgb(100,220,220));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    text-shadow: 0 0 32px white;
    color: transparent;
}

.comment {
    margin: 20px 0px 20px 20px;
}

.sub {
	color: rgb(100,220,220);
	letter-spacing: 1em;
}

.glitch {
  display: inline;
  position: relative;
  color: white;
  font-size: 4em;
  letter-spacing: 0.5em;
  /* Animation provies a slight random skew. Check bottom of doc
   for more information on how to random skew. */
  animation: glitch-skew 1s infinite linear alternate-reverse;
}
.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  /* Creates an initial clip for our glitch. This works in
   a typical top,right,bottom,left fashion and creates a mask
   to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 56px, 0);
  /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
   with an alternating animation to keep things fresh. */
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}
/* Creates an animation with 20 steaps. For each step, it calculates 
 a percentage for the specific step. It then generates a random clip
 box to be used for the random glitch effect. Also adds a very subtle
 skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
  0% {
    clip: rect(72px, 9999px, 5px, 0);
    transform: skew(0.99deg);
  }
  5% {
    clip: rect(50px, 9999px, 74px, 0);
    transform: skew(0.07deg);
  }
  10% {
    clip: rect(23px, 9999px, 44px, 0);
    transform: skew(0.77deg);
  }
  15% {
    clip: rect(90px, 9999px, 50px, 0);
    transform: skew(0.84deg);
  }
  20% {
    clip: rect(54px, 9999px, 71px, 0);
    transform: skew(1deg);
  }
  25% {
    clip: rect(23px, 9999px, 59px, 0);
    transform: skew(0.62deg);
  }
  30% {
    clip: rect(55px, 9999px, 5px, 0);
    transform: skew(0.67deg);
  }
  35% {
    clip: rect(36px, 9999px, 86px, 0);
    transform: skew(0.85deg);
  }
  40% {
    clip: rect(1px, 9999px, 66px, 0);
    transform: skew(0.23deg);
  }
  45% {
    clip: rect(56px, 9999px, 79px, 0);
    transform: skew(0.13deg);
  }
  50% {
    clip: rect(65px, 9999px, 1px, 0);
    transform: skew(0.55deg);
  }
  55% {
    clip: rect(56px, 9999px, 3px, 0);
    transform: skew(0.64deg);
  }
  60% {
    clip: rect(46px, 9999px, 96px, 0);
    transform: skew(0.15deg);
  }
  65% {
    clip: rect(30px, 9999px, 52px, 0);
    transform: skew(0.63deg);
  }
  70% {
    clip: rect(27px, 9999px, 9px, 0);
    transform: skew(0.05deg);
  }
  75% {
    clip: rect(85px, 9999px, 73px, 0);
    transform: skew(0.76deg);
  }
  80% {
    clip: rect(51px, 9999px, 76px, 0);
    transform: skew(0.2deg);
  }
  85% {
    clip: rect(23px, 9999px, 99px, 0);
    transform: skew(0.53deg);
  }
  90% {
    clip: rect(35px, 9999px, 26px, 0);
    transform: skew(0.57deg);
  }
  95% {
    clip: rect(52px, 9999px, 44px, 0);
    transform: skew(0.95deg);
  }
  100% {
    clip: rect(14px, 9999px, 58px, 0);
    transform: skew(0.6deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(16px, 9999px, 86px, 0);
    transform: skew(0.93deg);
  }
  5% {
    clip: rect(68px, 9999px, 39px, 0);
    transform: skew(0.1deg);
  }
  10% {
    clip: rect(49px, 9999px, 66px, 0);
    transform: skew(0.98deg);
  }
  15% {
    clip: rect(55px, 9999px, 54px, 0);
    transform: skew(0.61deg);
  }
  20% {
    clip: rect(41px, 9999px, 95px, 0);
    transform: skew(0.16deg);
  }
  25% {
    clip: rect(91px, 9999px, 92px, 0);
    transform: skew(0.49deg);
  }
  30% {
    clip: rect(30px, 9999px, 94px, 0);
    transform: skew(0.88deg);
  }
  35% {
    clip: rect(28px, 9999px, 63px, 0);
    transform: skew(0.72deg);
  }
  40% {
    clip: rect(12px, 9999px, 36px, 0);
    transform: skew(0.96deg);
  }
  45% {
    clip: rect(24px, 9999px, 73px, 0);
    transform: skew(0.23deg);
  }
  50% {
    clip: rect(9px, 9999px, 3px, 0);
    transform: skew(0.42deg);
  }
  55% {
    clip: rect(68px, 9999px, 64px, 0);
    transform: skew(0.3deg);
  }
  60% {
    clip: rect(86px, 9999px, 71px, 0);
    transform: skew(0.78deg);
  }
  65% {
    clip: rect(20px, 9999px, 11px, 0);
    transform: skew(0.43deg);
  }
  70% {
    clip: rect(71px, 9999px, 25px, 0);
    transform: skew(0.96deg);
  }
  75% {
    clip: rect(9px, 9999px, 76px, 0);
    transform: skew(0.4deg);
  }
  80% {
    clip: rect(18px, 9999px, 21px, 0);
    transform: skew(0.73deg);
  }
  85% {
    clip: rect(52px, 9999px, 89px, 0);
    transform: skew(0.96deg);
  }
  90% {
    clip: rect(86px, 9999px, 82px, 0);
    transform: skew(0.98deg);
  }
  95% {
    clip: rect(35px, 9999px, 16px, 0);
    transform: skew(0.02deg);
  }
  100% {
    clip: rect(46px, 9999px, 53px, 0);
    transform: skew(0.73deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(-4deg);
  }
  10% {
    transform: skew(3deg);
  }
  20% {
    transform: skew(4deg);
  }
  30% {
    transform: skew(1deg);
  }
  40% {
    transform: skew(4deg);
  }
  50% {
    transform: skew(4deg);
  }
  60% {
    transform: skew(0deg);
  }
  70% {
    transform: skew(-3deg);
  }
  80% {
    transform: skew(1deg);
  }
  90% {
    transform: skew(0deg);
  }
  100% {
    transform: skew(4deg);
  }
}

.title-wrapper {
    display: inline-block;
}

.title-wrapper p {
    text-align: right;
    margin-right: 20%;
}

.menu-wrapper {
    display: inline-block;
    float: right;
}

.content container {
    width: 100%;
}
